@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#heroHeading {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#heroImage {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  background: linear-gradient(to right, rgba(128, 128, 128, 0.5), transparent); /* Gray gradient on the left */
  clip-path: ellipse(50% 40% at 50% 50% rgba(128, 128, 128, 0.5));
}
